* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
}

/*BARRA SUPERIOR*/
.top-container {
    position: fixed;
    background-color: #3e3e3e;
    border: 1px solid #5d5d5d;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    z-index: 2;
}

/*Linhas de divisão*/
.top-container hr {
    border: 1px solid #00bf635b;
    height: 25px;
}

/*A Href*/
.top-container a {
    border-radius: 0.6rem;
    color: #d0d0d0;
    width: 180px;
    height: 1.4rem;
    padding: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1px;
}

.top-container a:hover {
    background-color: #7c7c7c;
    transition: all 0.2s;
}

.top-container span {
    color: #00BF63;
}

/*Input Pesquisar em Conteúdo*/
.top-container input {
    background-color: #5d5d5d;
    height: 1.8rem;
    width: 15rem;
    border: none;
    border-radius: 0.6rem;
    padding-left: 5%;
    color: #fff;
}

.top-container input:hover {
    background-color: #767676;
    transition: all 0.2s;
}

::placeholder {
    color: #d0d0d0;
    font-weight: 600;
}

/*CONTAINER CONTEUDO*/
.content-container {
    position: absolute;
    z-index: 1;
    width: 58em;
    height: 38.8em;
    left: 15%;
    top: 2.7em;
    text-align: center;
    font-size: 1em;
    justify-content: center;
    border: 2px solid #00BF63;
    background-color: rgba(117, 114, 114, 0.379);
}

.content-container h1 {
    margin-top: 1em;
    color: #00BF63;
}

.campo {
    margin-bottom: 0.5em;
}

input select textarea button {

    border-radius: 5px;
}

.campo label {
    margin-bottom: 0.2em;
    color: #00BF63;
    display: block;
}

.campo input [type="text"] .campo input[type="email"] .campo select .campo textarea {
    padding: 0.2em;
    border: 1px solid #00BF63;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus .campo select:focus .campo textarea:focus {
    background: #e0e0f8;
}

.botao {
    font-size: 1.2em;
    background: #fff;
    border: 0;
    margin-bottom: 1em;
    color: #00BF63;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    top: 90%;
    left: 10%;
    margin-top: 1%;
    transform: translate(-50%, -50%);
}

.content-container img {
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 7px rgb(0, 0, 0.15);
    margin: 2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10%;
    /* Reduzindo a margem esquerda */
}

.content-container p {
    font-size: 1.4em;
    color: #cac5c5;
    width: 60rem;
    margin-left: 0;
    /* Reduzindo a margem esquerda */
}

.content-container span {
    color: #00BF63;
    font-weight: 600;
}

/*NAVBAR ESQUERDA*/
.leftnavbar-container {
    background-color: #3e3e3e;
    border: 1px solid #5d5d5d;
    position: fixed;
    top: 2.55rem;
    width: 10rem;
    height: 37rem;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
}

#home-href {
    width: 70px;
    height: 15px;
    padding: 8px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
}

/*A Href Navbar*/
.leftnavbar-container a {
    position: relative;
    border-radius: 0.3rem;
    color: #d0d0d0;
    width: 80%;
    height: 15px;
    padding: 8px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.leftnavbar-container a:hover {
    background-color: #767676;
    transition: all 0.2s;
}

.leftnavbar-container label {
    font-size: 1.20em;
}

.leftnavbar-container h4 {
    width: 70%;
    height: 3%;
    font-size: 1.03em;
}

.leftnavbar-container span {
    padding-right: 5px;
    color: #00BF63;
    font-weight: 600;
}

.subject-label {
    margin-left: 10px;
    display: inline-block;
}

/*Materias*/
.subject-folder,
.subject {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    position: relative;
    border-radius: 0.3rem;
    color: #d0d0d0;
    background-color: transparent;
    border: none;
    width: 85%;
    padding: 8px;
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.subject:hover {
    background-color: #767676;
    transition: all 0.2s;
}

/*Conteudos*/
.content {
    padding-left: 35px;
    width: 80%;
    display: flex;
    flex-direction: column;
    display: none;
}

.content a {
    padding: 2px;
}

.content.show {
    display: block;
}

.subject-folder {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.content {
    display: none;
    padding-left: 10px;
    overflow: hidden;
}

.subject-folder button {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.subject-folder button::before {
    content: "\25B6";
    margin-right: 5px;
    color: #00BF63;
}

.subject-folder.expanded button::before {
    content: "\25BC";
}