* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    position: fixed;
    background-color: #3e3e3e;
    border: 1px solid #5d5d5d;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    z-index: 2;
}

.top-container hr {
    border: 1px solid #00bf635b;
    height: 20px;
}

.top-container a {
    border-radius: 0.6rem;
    color: #d0d0d0;
    width: 80px;
    height: 1.4rem;
    padding: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin-right: 1px;
}

.top-container a:hover {
    background-color: #7c7c7c;
    transition: all 0.2s;
}

.top-container input {
    background-color: #5d5d5d;
    height: 1.8rem;
    width: 70%;
    max-width: 150px;
    border: none;
    border-radius: 0.6rem;
    padding-left: 5%;
    color: #fff;
}

.top-container input:hover {
    background-color: #767676;
    transition: all 0.2s;
}

::placeholder {
    color: #d0d0d0;
    font-weight: 600;
}

.content-container {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    font-size: 1em;
    justify-content: center;
    border: 4px solid #00BF63;
    background-color: rgba(117, 114, 114, 0.379);
    max-width: 480px;
    margin: 2.5rem auto 0;
}

.content-container h1 {
    margin-top: 1em;
    color: #00BF63;
}

.campo label {
    margin-bottom: 0.2em;
    color: #00BF63;
    display: block;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    width: 90%;
    padding: 0.5em;
    margin-bottom: 1em;
}

.botao {
    font-size: 1em;
    background: #fff;
    border: 0;
    margin-bottom: 1em;
    color: #00BF63;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #00BF63;
    color: #fff;
}

.content-container img {
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 7px rgb(0, 0, 0.15);
    margin: 2em auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 300px;
}

.content-container p {
    font-size: 1em;
    color: #cac5c5;
    margin: 1em 0;
}

.leftnavbar-container {
    background-color: #3e3e3e;
    border: 1px solid #5d5d5d;
    position: fixed;
    top: 2.55rem;
    width: 100%;
    height: auto;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.leftnavbar-container a {
    position: relative;
    border-radius: 0.3rem;
    color: #d0d0d0;
    width: 80%;
    height: 15px;
    padding: 8px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.leftnavbar-container a:hover {
    background-color: #767676;
    transition: all 0.2s;
}

.leftnavbar-container h4 {
    width: 70%;
    font-size: 1em;
}

.subject-folder button::before {
    content: "\25B6";
    margin-right: 5px;
    color: #00BF63;
}

.subject-folder.expanded button::before {
    content: "\25BC";
}