*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1eded;
}

header{
    background-image: url(fundo.png);
    padding: 45px 240px 110px 240px;

}

#links a{
    text-decoration: none;
    color: #b17611;
}

#links ul{
    color: #b17611;
    float: right;
    font-size: 17px;
} 

#links li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    padding: 12px; 
} 


.area_anuncio{
    padding: 0 240px 0 240px;
    position: relative;
}

#imagens-museu{
    top: -75px;
    position: absolute;
    display: inline;
    word-spacing: 20px;
}
 
#imagens-museu img{
    height: 500px;
}

.geo-museu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 450px 270px 70px 270px;
}

#geo-video{
    float: left;
    padding-right: 50px;
    color: rgb(26, 107, 39);
}

#geo-video p{
    padding-bottom: 15px;
}

#geo-mapa{
    clear: right;
    color: rgb(26, 107, 39);
}

#geo-mapa p{
    padding-bottom: 15px;
}

#expo p{
    color: rgb(26, 107, 39);
    padding: 30px 0 15px 0;
}

li::marker{
    color: black;
}

#expo a{
    text-decoration: none;
    color: #b17611;
}

#expo ul{
    color: #b17611;
    padding-left: 50px;
    padding-bottom: 50px;
}

#hist h2{
    font-size: 17px;
    color: rgb(26, 107, 39);
    padding: 30px 0 15px 0;
}

#leia-mais{
    color: #b17611;
}

#expo{
    float: left;
    padding-right: 175px;
}

.visita{
    background-color: #c2bda5;
    float: right;
    margin-right: -66px;
    margin-top: -650px;
}

.visita h2{
    font-size: 17px;
    color: #b17611;
    padding-bottom: 6px;
}

#padding-apenas{
    padding: 25px 131px;
}

#forms{
    padding-bottom: 12px;
}

#dispo{
    color: white;
    background-color: #a09474;
    text-align: center;
    padding: 10px 15px;
}

#dispo a{
    text-decoration: none;
    color: white;
}

.galeria-fotos{
    color: #000000;
    float: right;
    background-color: #f0e4dc;
    margin: -486px -66px;
    padding: 120px 146px;
}

.galeria-fotos h2{
    font-size: 18px;
}

#fotos{
    position: absolute;
    padding: 8px;
}

#fotos img{
    padding: 10px;
    padding-bottom: 32px;
    padding-right: 20px;
}

#barra-footer img {
    scale: 190%;
    padding-top: 60px;
    padding-left: 310px;
}

footer{
    text-align: center;
    padding-bottom: 50px;
}

footer a{
    color: #b17611;
    text-decoration: none;
}

#hr-footer a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #b17611;
    padding: 10px;
}

#hr-footer ul{
    text-align: center;
    margin-bottom: 25px;

}

#hr-footer li{
    display: inline;
}
