body{
    background-image: url(background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120%;
    font-family: Arial, Helvetica, sans-serif;


}
.basico{
    text-align: center;
}
.nome{
    font-weight: bold;
}
img{
    width: 15%;
    border-radius:500px;
    position:absolute;
    left: 8%; 
	top: 10%; 

}